*{
    margin: 0;
    padding: 0;
}
/* navbar */
.navbar{
    display: flex;
    justify-content: space-around;
    background-color: #706b6b;
    padding: 20px;
}
.nav-items{
    display: flex;
    list-style-type: none;
    font-size: 26px;
    font-weight: 600;
    color: white;
}
.nav-item{
    margin-right: 15px;
}
/* banner */
.banner-container{
    background-image: url("../asset/image/background.jpg"),
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    background-blend-mode: overlay;
    height: 100vh;
    width: 100%;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}
.banner-title{
    font-size: 75px;
}
.primary-color{
    color: #f52c2c;
}
.banner-description{
    font-size: 24px;
    width: 50%;
    margin: 8px auto 0;
}
.btn{
    padding: 15px 20px;
    font-size: 18px;
    border: 0;
    margin: 40px 20px;
    cursor: pointer;
}
.btn-discover{
    color: white;
    background-color: #f52c2c;
}
.btn-hire{
    background-color: #f0f0f0;
}
/* services */
.services{
    height: 100vh;
    width: 100%;
    background-image: url("../asset/image/footer-bg.png"),
    linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.9));
    background-blend-mode: overlay;;
    color: white;
    margin-right: 20px;
}
.service-btn{
    border-radius: 40px;
    background-color: white;
    color: gray;
    margin: 40px 0 ;
}
.service-title{
    font-size: 40px;
    font-weight: bold;
}
.service-des{
    color: lightgray;
    font-size: 26px;
    margin: 15px 0 20px;
    width: 50%;
}
.service-ol{
    color: lightgray;
    font-size: 22px;
    margin-bottom: 40px;
}
.author{
    display: flex;
}
.author-des{
    display: flex;
    align-items: center;
    padding-right: 80px;
    border-right: 2px solid #f52c2c;

}
.author-img{
    height: 100px;
    width:  100px;
    border-radius: 50px;
    padding-right: 20px;
}
.service-left{
    margin-left: 30px;
}
.more-details-btn{
    margin-left: 25px;
    color: #f52c2c;
}